header {
    height: 300px;
    display: flex;

    .logo {
        width: 80px;
        height: 80px;

        h1 {
            font-size: 12px;
            color: #fff;
        }

        background-color: blue;
    }

    nav {
        width: 100%;

        ul {
            list-style: none;
            display: flex;

            li {
                width: 150px;
                background-color: #02ff63;
                margin: 0 10px;
                transition: all .3s ease;

                &:hover {
                    background-color: #199400;
                }

                a {
                    display: block;
                    padding: 10px 20px;
                    text-decoration: none;
                }

            }
        }
    }
}