@charset "UTF-8";
/*css 註解 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn {
  width: 180px;
  padding: 10px;
  color: #000;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  background-color: #00fff2;
  transition: 0.3s all ease;
}
.btn:hover {
  background-color: #00ccc2;
}

.btn_round {
  width: 100%;
  border-radius: 30px;
  padding: 10px;
  color: #000;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  background-color: #6fff00;
  transition: 0.3s all ease;
}
.btn_round:hover {
  background-color: #59cc00;
}

.btn_outline {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  color: #000;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  background-color: #02ff63;
  transition: 0.3s all ease;
  border: 1px solid #02ff63;
  background-color: initial;
}
.btn_outline:hover {
  background-color: #00ce4f;
}

.btn_ghost {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  color: #000;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  background-color: #02ff63;
  transition: 0.3s all ease;
  background-color: initial;
}
.btn_ghost:hover {
  background-color: #00ce4f;
}

.round {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #ff2323;
}
@media screen and (max-width: 896px) {
  .round {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

.boxround {
  width: 300px;
  height: 400px;
  margin: 0 auto;
}

header {
  display: flex;
}
header .logo {
  width: 80px;
  height: 80px;
  background-color: blue;
}
header .logo h1 {
  font-size: 12px;
  color: #fff;
}
header nav {
  width: 100%;
}
header nav ul {
  list-style: none;
  display: flex;
}
header nav ul li {
  width: 150px;
  background-color: #02ff63;
  margin: 0 10px;
  transition: all 0.3s ease;
}
header nav ul li:hover {
  background-color: #199400;
}
header nav ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

.banner {
  width: 1200px;
  margin: auto;
}
@media screen and (max-width: 896px) {
  .banner {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .banner {
    width: 100%;
  }
}
.banner .slider {
  height: 400px;
  background-color: #4400fe;
}
@media screen and (max-width: 896px) {
  .banner .slider {
    background-color: #00ff73;
  }
}
@media screen and (max-width: 450px) {
  .banner .slider {
    background-color: #ff008c;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  padding: 0;
  margin: 0px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

.wrapper {
  width: 100%;
}

.box {
  width: 200px;
  height: 300px;
  border-radius: 5px;
  background-color: #444;
}

.wrapper {
  width: 100%;
}/*# sourceMappingURL=style.css.map */