$fontSize : 16px; //數值
$bgc : #333;
$bgc : #ff0000 !default;
$color : #fff; // 顏色
$bold :false; // 布林值
$fontFamily : Arial,
Helvetica,
sans-serif; //字串
$margin : 10px 20px 10px 30px; // list
$title :(h1 : 40px,
    h2 : 30px); //map

$null : null;

/*css 註解 */

body {
    font-size: $fontSize;
    padding: 0;
    margin: $margin;

    @if $bold {
        font-weight: 800;
    }

    color: $color;
    font-family: $fontFamily;
    background-color: $bgc;
}

h1 {
    $colorh1: #444 !global; // 區域變數  
    font-size: map-get($title, h1);
    color: $colorh1;
}

h2 {
    font-size: map-get($title, h2);
    color: $colorh1;
}

$layout_name : "container";

.#{$layout_name} {
    width: 1200px;
    margin: auto;
}


// =====================Nesting============================ //

.wrapper{
    width: 1200px;
    margin: 0 auto;
   header {
     height: 300px; 
     display: flex;
     .logo {
       width: 80px;
       height: 80px;
       
       h1 {
        font-size: 12px;
        color: #fff;
       }
       
       background-color: blue; 
     }
     nav {
       width: 100%;  
       ul {
        list-style: none;
        display: flex;
        li {
          width: 150px;
          padding: 10px 20px;
          background-color: #02ff63;
          margin: 0 10px;

        }
       } 
     }
   }
}

