

/*css 註解 */


// @import url();  css  
@import "sass/base/var"; // sass
@import "sass/base/color"; // sass
@import "sass/base/font"; // sass
@import "sass/layout/header"; // sass
@import "sass/layout/footer"; // sass
// @import "sass/layout/header"; // sass
// @import "sass/layout/header"; // sass













* {
    box-sizing: border-box;


}

body {
    font-size: $fontSize;
    padding: 0;
    margin: $margin;

    @if $bold {
        font-weight: 800;
    }

    color: $color;
    font-family: $fontFamily;
    background-color: $bgc;
}

h1 {
    $colorh1: #444 !global; // 區域變數  
    font-size: map-get($title, h1);
    color: $colorh1;
}

h2 {
    font-size: map-get($title, h2);
    color: $colorh1;
}

$layout_name : "container";

.#{$layout_name} {
    width: 1200px;
    margin: auto;
}


// =====================Nesting============================ //

.wrapper {
    width: 100%;
    h1 {
      font-size: 40px;  
    }
    h2 {
        font-size: 30px;  
      }
}

// ======   mixin  =======

@mixin rect {
    width: 400px;
    height: 80px;
}

.box {
   @include rect();
   background-color: #e02d2d;
}

.box_1 {
    @include rect();
    background-color: #333
}

.box_3{
    @include rect();
    background-color: #999;
}

// 有變數
@mixin rect_var($w , $h){
   width: $w;
   height: $h;
}


.w {
  @include rect_var(400px, 150px)
}

@mixin layout($w){
   @if $w == 100 {
      width: 100%;
    }@else {
      width: $w + px;
      margin: auto;
    }
}

header {
   @include layout(100)
}















