


.btn {
  @include btn(180px, #00fff2)
}

.btn_round {
    @include btn(100%, #6fff00 , 30px)
}

.btn_outline {
    @include btn(100% , #02ff63 , 5px);
    border: 1px solid #02ff63;
    background-color: initial;
}

.btn_ghost {
    @include btn(100% , #02ff63 , 10px);
    background-color: initial;  
}
