// == 固定寬 
@mixin rect_fixed() {
    width: 400px;
    height: 80px;
}


// 有變數
@mixin rect($w, $h ,$border_radius:null){
    width: $w;
    height: $h;
    border-radius: $border_radius;
 }

// layout   
@mixin layout($w){
    @if $w == 100 {
       width: 100%;
     }@else {
       width: $w + px;
       margin: auto;
     }
 }


 // btn mixin
 @mixin btn($w , $bgc ,$border_radius:null){
    @include rect($w , null , $border_radius);
    padding: 10px;
    color: #000;
    font-size: 14px;
    text-align: center;
    cursor: pointer;  
    background-color: $bgc;
    transition: .3s all ease;
    &:hover {
        background-color: darken($bgc, 10);
     }
}


 // 平板
 @mixin t(){
    @media screen and (max-width: $t) {
        // 內容
        @content;
    }
 }

 //手機
 @mixin m(){
    @media screen and (max-width: $m) {
        // 內容
        @content;
    }
 }